/***************

Celebrities CSS

****************/

.page-content {
	margin: 0 auto;
	max-width: 800px;
}

.page-content > * {
	margin-bottom: 2rem;
}

.celebrities h3 {
	background-color: lightblue;
}

.filtered-country {
	display: none;
}